<div>
  <h1 class="text-center font-serif text-3xl">Developer Portal</h1>
  <div class="flex justify-center">
    <p class="text-justify max-w-xl">
      This is a simple angular demo application. The six-web-components are uses
      for the UI elements. It provides examples of different state management
      techniques using also external libraries like NgRx and NxJs. It includes
      simple data visualisations like tables created with AG-grid and charts
      created with angular-plotly and a simple form with validation.
    </p>
  </div>
</div>
