<six-sidebar position="left" [open]="open" class="active:bg-black">
  <six-sidebar-item-group routerLink="/home" routerLinkActive="selected" name="Home" icon="home"></six-sidebar-item-group>
  <six-sidebar-item-group routerLink="/form" routerLinkActive="selected" name="Example Forms" icon="assignment"></six-sidebar-item-group>
  <six-sidebar-item-group routerLink="/color" routerLinkActive="selected" name="Six Colors" icon="color_lens"></six-sidebar-item-group>
  <six-sidebar-item-group  name="State Management" icon="storage" value="state">
    <six-sidebar-item routerLink="/state-component" routerLinkActive="selected" value="component">Component</six-sidebar-item>
    <six-sidebar-item routerLink="/state-service" routerLinkActive="selected" value="service">Services and RxJS</six-sidebar-item>
    <six-sidebar-item routerLink="/state-ngrx" routerLinkActive="selected" value="ngrx">NgRx Store</six-sidebar-item>
  </six-sidebar-item-group>
</six-sidebar>
