table.sic-table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--six-font-size-small);

  thead {
    border-bottom: 2px solid var(--six-color-web-rock-700);
  }

  th {
    color: var(--six-color-web-rock-900);
    padding: var(--six-spacing-medium) var(--six-spacing-medium) var(--six-spacing-x-small);
    text-align: left;
  }

  td {
    padding: var(--six-spacing-medium);
    border-top: 1px solid var(--six-color-web-rock-400);
  }

  td.padding-0 {
    padding: 0;
  }

  .total {
    border-top: 2px solid var(--six-color-web-rock-700);
    font-weight: var(--six-font-weight-bold);
    color: var(--six-color-web-rock-800);
  }

  .align-right {
    text-align: right;
  }

  .content-width {
    width: 1%;
    white-space: nowrap;
  }
}
