<div>
  <div
    *ngrxLet="{
      foodList: foodList$
    } as observables"
  >
    <div *ngIf="observables.foodList.length > 0; else loading">
      <div class="w-full flex-1">
        <ag-grid-angular
          class="ag-theme-alpine h-full"
          domLayout='autoHeight'
          [rowData]="observables.foodList"
          [columnDefs]="colDef"
        ></ag-grid-angular>
      </div>
    </div>
    <ng-template #loading>
      <six-spinner class="text-4xl flex justify-center pt-32"></six-spinner>
    </ng-template>
      </div>
</div>
