<div>
  <div
    *ngrxLet="{
      foodList: foodList$
    } as observables"
  >
    <div *ngIf="observables.foodList.length > 0; else loading">
      <div>
        <h3>Simple HTML table</h3>
        <table class="sic-table">
          <thead>
            <tr>
              <th *ngFor="let x of colDef">{{ x.headerName }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of observables.foodList">
              <td>{{ x.name }}</td>
              <td>{{ x.calories }}</td>
              <td>{{ x.fat }}</td>
              <td>{{ x.carbs }}</td>
              <td>{{ x.protein }}</td>
              <td>{{ x.sodium }}</td>
              <td>{{ x.calcium }}</td>
              <td>{{ x.iron }}</td>
            </tr>
          </tbody>
        </table>
        <h3 class="mt-10">Simple AG Grid</h3>
        <div class="mb-10">
          <ag-grid-angular
            class="ag-theme-alpine h-full w-full"
            domLayout="autoHeight"
            [rowData]="observables.foodList"
            [columnDefs]="colDef"
          ></ag-grid-angular>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <six-spinner class="text-4xl flex justify-center pt-32"></six-spinner>
    </ng-template>
  </div>
</div>
