<div>
  <div
    *ngrxLet="{
      foodList: foodList$,
      selectedFood: selectedFood$,
      selectedFoodItem: selectedFoodItem$
    } as observables"
  >
    <six-select
      class="max-w-[300px] block mt-10"
      placeholder="Select Food"
      [value]="observables.selectedFood"
      (six-select-change)="selectFood($event.detail.value)"
    >
      <six-menu-item
        *ngFor="let food of observables.foodList"
        [value]="food.name"
        >{{ food.name }}</six-menu-item
      >
    </six-select>
    <div>{{ observables.selectedFoodItem | json }}</div>
  </div>
</div>
